p,h1,h2 {
    color: firebrick;
}
h2.center{
    text-align: center;
}
.style-table{
    border:1px solid gray;
    margin:15px;
}
.style-table td,th{
    border: 1px solid gray;
    padding: 10px;
}
.style-table tr{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.style-table th{
    background-color: crimson;
    color: white;
    font-size: 23px;
}
.style-table td{
    font-style: italic;
}