.width-height{
    border:2px solid #333;
    margin: 25px 5px 5px 5px;
    padding: 15px;
    max-width: 600px;
    min-width: 100px;
    max-height: 150px;
    min-height: 100px;
}
.outer-layer{
    border:4px solid blue;
    padding: 15px;
    width: 70%;
    outline: 8px double yellow;
}