h2{
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 10px;
    text-shadow: 2px 2px 2px rgb(233, 202, 29);
    /* shadow coordinate : right bottom blur color */
    font-style: oblique;
    font-weight: bold;
    font-variant: small-caps;
}
.special-text{
    color: #333;
    line-height: 25px;
    text-indent: 3%;
    direction: ltr;
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;;
}
.sp-color{
    color: red;
}