.background{
    background-color: darkolivegreen;
    background-image: url(../images/htmlcss.png);
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-position: 50% 75%;
    width: 100%;
    height: 350px;
    padding: 20px;
    background-attachment: fixed;
    /* you can write all things in one line. */
    background: gray url(../images/htmlcss.png) no-repeat right top fixed;
}