body{
    text-indent: 50px;
}
h2{
    text-align: center;
}
.change{
    border:1px solid black;
    background-color: darkolivegreen;
    margin:20px;
}
.link a{
    color: darkmagenta;
    text-decoration: none;
}
.link a:hover{
    color: forestgreen;
    text-decoration: underline;
    font-size: 25px;
}
.link a:active{
    color:blue;
    background-color: yellow;
    text-decoration: none;
}
#second{
    border:2px solid black;
    background-color: darksalmon;
    padding: 20px 50px 10px 75px;
}