.special{
    border: 2px solid black;
    padding: 20px;
    width: 70%;
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.sub-special{
    margin-left: inherit;
}
.margin-auto{
    border:2px solid red;
    padding: 20px;
    width: 70%;
    margin: auto;
}