p{
    padding: 20px;
}

.border-dashed{
    border-style:dashed;
}

.border-dotted{
    border-style:dotted;
}

.border-double{
    border-style: double;
}

.border-groove{
    border-style: groove;
}

.border-hidden{
    border-style: hidden;
}

.border-inset{
    border-style: inset;
}

.border-inherit{
    border-style: inherit;
}

.border-initial{
    border-style: initial;
}
.border-outset{
    border-style: outset;
}
.border-mix{
    border-top: dotted;
    border-right: dashed;
    border-bottom: solid;
    border-left: double;
}
.border-singleline{
    border-style: solid dashed double dotted;
}